@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #1a2230, #121a23);
  color: white;
}

.container {
  max-width: 1000px;
  flex-direction: column;
  gap: 10px;
  display: grid;
  place-items: center;
}
h1 {
  font-weight: bold;
  font-size: 40px; 
  display: inline-block;
  margin: 0;
}
.header {
  margin: 0;
  font-family: "Rammetto One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  height: 100px;
}

#pokemonImage {
  height: 200px;
  max-width: 100%;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

button {
  height: 52px;
  margin: 10px;
  width: calc(50% - 20px);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s;
}

button:hover {
  background-color: lightgray;
  color: black;
  transform: scale(1.1);
}

button.correct {
  background-color: rgb(0, 255, 0);
  color: black;
}

button.wrong {
  background-color: red;
  color: black;
}

#loadingContainer {
  height: 500px;
}

#points {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

#loadingIcon {
  width: 200px;
  height: 200px;
  position: relative;
  top: 20%;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
